In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\t3mar\Career Foundry\Data Analytics\Project 4 Instacart'

In [3]:
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'orders.csv'), index_col = False)

In [5]:
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'products.csv'), index_col = False)

In [7]:
# drop columns
df_ords=df_ords.drop(columns = ['eval_set'])

In [9]:
# nulls
df_ords['days_since_prior_order'].value_counts(dropna = False)

30.0    369323
7.0     320608
6.0     240013
4.0     221696
3.0     217005
5.0     214503
NaN     206209
2.0     193206
8.0     181717
1.0     145247
9.0     118188
14.0    100230
10.0     95186
13.0     83214
11.0     80970
12.0     76146
0.0      67755
15.0     66579
16.0     46941
21.0     45470
17.0     39245
20.0     38527
18.0     35881
19.0     34384
22.0     32012
28.0     26777
23.0     23885
27.0     22013
24.0     20712
25.0     19234
29.0     19191
26.0     19016
Name: days_since_prior_order, dtype: int64

In [11]:
# renaming columns
df_ords.rename(columns = {'order_dow' : 'orders_day_of_week'}, inplace = True)

In [12]:
df_ords.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_hour_of_day', 'days_since_prior_order'],
      dtype='object')

In [14]:
# change data type
df_ords['order_id'] = df_ords['order_id'].astype('str')

In [15]:
df_ords['order_id'].dtype

dtype('O')

In [16]:
# import department
df_dep = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'departments.csv'), index_col = False)

In [17]:
# swap axes
df_dep_t = df_dep.T

In [19]:
# reset index
df_dep_t.reset_index()

            index                0
0   department_id       department
1               1           frozen
2               2            other
3               3           bakery
4               4          produce
5               5          alcohol
6               6    international
7               7        beverages
8               8             pets
9               9  dry goods pasta
10             10             bulk
11             11    personal care
12             12     meat seafood
13             13           pantry
14             14        breakfast
15             15     canned goods
16             16       dairy eggs
17             17        household
18             18           babies
19             19           snacks
20             20             deli
21             21          missing

In [21]:
# new header
new_header = df_dep_t.iloc[0]

In [22]:
# remove header
df_dep_t_new = df_dep_t[1:]

In [23]:
#replace header
df_dep_t_new.columns = new_header

In [24]:
df_dep_t_new

department_id       department
1                       frozen
2                        other
3                       bakery
4                      produce
5                      alcohol
6                international
7                    beverages
8                         pets
9              dry goods pasta
10                        bulk
11               personal care
12                meat seafood
13                      pantry
14                   breakfast
15                canned goods
16                  dairy eggs
17                   household
18                      babies
19                      snacks
20                        deli
21                     missing

In [25]:
# data dictionary
data_dict = df_dep_t_new.to_dict('index')

In [26]:
# subsetting
df_snacks =  df_prods[df_prods['department_id']==19]

In [33]:
# 2.
df_ords['user_id'] = df_ords['user_id'].astype('str')

In [34]:
df_ords['user_id'].dtype

dtype('O')

In [35]:
# 3.
df_ords_new=df_ords

In [43]:
df_ords_new.rename(columns = {'order_hour_of_day' : 'order_time'}, inplace = True)

In [44]:
df_ords_new.columns

Index(['order_id', 'user_id', 'order_number', 'orders_day_of_week',
       'order_time', 'days_since_prior_order'],
      dtype='object')

In [45]:
# 4.
df_ords.describe()

       order_number  orders_day_of_week    order_time  days_since_prior_order
count  3.421083e+06        3.421083e+06  3.421083e+06            3.214874e+06
mean   1.715486e+01        2.776219e+00  1.345202e+01            1.111484e+01
std    1.773316e+01        2.046829e+00  4.226088e+00            9.206737e+00
min    1.000000e+00        0.000000e+00  0.000000e+00            0.000000e+00
25%    5.000000e+00        1.000000e+00  1.000000e+01            4.000000e+00
50%    1.100000e+01        3.000000e+00  1.300000e+01            7.000000e+00
75%    2.300000e+01        5.000000e+00  1.600000e+01            1.500000e+01
max    1.000000e+02        6.000000e+00  2.300000e+01            3.000000e+01

##### majority of shopping happens between the 10th and 16th hour. I do not see a mode

In [46]:
# 5.
data_dict

{'1': {'department': 'frozen'},
 '2': {'department': 'other'},
 '3': {'department': 'bakery'},
 '4': {'department': 'produce'},
 '5': {'department': 'alcohol'},
 '6': {'department': 'international'},
 '7': {'department': 'beverages'},
 '8': {'department': 'pets'},
 '9': {'department': 'dry goods pasta'},
 '10': {'department': 'bulk'},
 '11': {'department': 'personal care'},
 '12': {'department': 'meat seafood'},
 '13': {'department': 'pantry'},
 '14': {'department': 'breakfast'},
 '15': {'department': 'canned goods'},
 '16': {'department': 'dairy eggs'},
 '17': {'department': 'household'},
 '18': {'department': 'babies'},
 '19': {'department': 'snacks'},
 '20': {'department': 'deli'},
 '21': {'department': 'missing'}}

##### produce

In [48]:
# 6.
df_breakfast = df_prods[df_prods['department_id']==14]

In [49]:
df_breakfast

,product_id,product_name,aisle_id,department_id,prices
27,28,Wheat Chex Cereal,121,14,10.1
33,34,NaN,121,14,12.2
67,68,"Pancake Mix, Buttermilk",130,14,13.7
89,90,Smorz Cereal,121,14,3.9
210,211,Gluten Free Organic Cereal Coconut Maple Vanilla,130,14,3.6
...,...,...,...,...,...
49330,49326,Cereal Variety Fun Pack,121,14,9.1
49395,49391,Light and Fluffy Buttermilk Pancake Mix,130,14,2.0
49547,49543,Chocolate Cheerios Cereal,121,14,10.8
49637,49633,Shake 'N Pour Buttermilk Pancake Mix,130,14,14.2
49667,49663,Ultra Protein Power Crunch Peanut Butter N' Ho...,57,14,10.2

In [50]:
# 7.
df_dinnerparty = df_prods.loc[df_prods['department_id'].isin([5,7,12,20])]

In [51]:
df_dinnerparty

,product_id,product_name,aisle_id,department_id,prices
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
6,7,Pure Coconut Water With Orange,98,7,4.4
9,10,Sparkling Orange Juice & Prickly Pear Beverage,115,7,8.4
10,11,Peach Mango Juice,31,7,2.8
16,17,Rendered Duck Fat,35,12,17.1
...,...,...,...,...,...
49676,49672,Cafe Mocha K-Cup Packs,26,7,6.5
49679,49675,Cinnamon Dolce Keurig Brewed K Cups,26,7,14.0
49680,49676,Ultra Red Energy Drink,64,7,14.5
49686,49682,California Limeade,98,7,4.3
49688,49684,"Vodka, Triple Distilled, Twist of Vanilla",124,5,5.3

##### 8. 7650

In [55]:
# 9.
df_ords_userone = df_ords.loc[df_ords['user_id'].isin([1])]

In [56]:
df_ords_userone

Empty DataFrame
Columns: [order_id, user_id, order_number, orders_day_of_week, order_time, days_since_prior_order]
Index: []

#####  10. it's empty

In [57]:
df_ords.to_csv(os.path.join(path, '02 Data','Prepared Data', 'orders_wrangled.csv'))

In [58]:
df_dep_t_new.to_csv(os.path.join(path, '02 Data','Prepared Data', 'departments_wrangled.csv'))