## Import

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

In [2]:
path=r'C:\Users\t3mar\Career Foundry\Data Analytics\Project 4 Instacart'

In [3]:
df_prods_clean = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'Products Clean.csv'), index_col = False)

In [7]:
# 3.
df_ords_prods = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_combined.pkl'))

In [8]:
# 4.
df_ords_prods.shape

(32434489, 11)

## Merge

In [9]:
# 5.
df_prods_clean.columns

Index(['Unnamed: 0', 'product_id', 'product_name', 'aisle_id', 'department_id',
       'prices'],
      dtype='object')

In [10]:
df_ords_prods.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', '_merge'],
      dtype='object')

In [15]:
df_ords_prods = df_ords_prods.drop(columns = ['_merge'])

In [16]:
df_merged = df_ords_prods.merge(df_prods_clean, on = 'product_id', indicator = True)

## Verify

In [17]:
# 6.
df_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both

In [18]:
df_merged['_merge'].value_counts()

both          32404859
left_only            0
right_only           0
Name: _merge, dtype: int64

In [19]:
df_merged.shape

(32404859, 16)

## Export

In [20]:
# 7.
df_merged.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'Orders 7 Products.pkl'))