In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
path=r'C:\Users\t3mar\Career Foundry\Data Analytics\Project 4 Instacart\02 Data'

In [2]:
ord_prd_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'OrdPrdMerge3.pkl'))

In [3]:
# @.
ord_prd_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

#### 3. The full results include many more categories. The averages have not changed much for those that were previously included.

In [4]:
# 4.
ord_prd_merge['max_order'] = ord_prd_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [6]:
ord_prd_merge.loc[ord_prd_merge['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'
ord_prd_merge.loc[(ord_prd_merge['max_order'] <= 40) & (ord_prd_merge ['max_order'] > 10), 'loyalty_flag'] = 'regular customer'
ord_prd_merge.loc[ord_prd_merge['max_order'] <= 10, 'loyalty_flag'] = 'new customer'

In [7]:
ord_prd_merge['loyalty_flag'].value_counts(dropna = False)

regular customer    15876776
loyal customer      10284093
new customer         6243990
Name: loyalty_flag, dtype: int64

In [7]:
# 5.
ord_prd_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
loyal customer    10.386336  1.0  99999.0
new customer      13.294670  1.0  99999.0
regular customer  12.495717  1.0  99999.0

#### Loyal customers spend the least per purchase and new customers spend the most.

In [8]:
# 6.
ord_prd_merge['mean_price'] = ord_prd_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [9]:
ord_prd_merge.loc[ord_prd_merge['mean_price'] >= 10, 'price_flag'] = 'High spender'
ord_prd_merge.loc[ord_prd_merge['mean_price'] < 10, 'price_flag'] = 'Low spender'

In [11]:
ord_prd_merge['price_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: price_flag, dtype: int64

In [12]:
# 7.
ord_prd_merge['order_frequency'] = ord_prd_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [13]:
ord_prd_merge.loc[ord_prd_merge['order_frequency'] > 20, 'frequency_flag'] = 'non-frequent customer'
ord_prd_merge.loc[(ord_prd_merge['order_frequency'] <= 20) & (ord_prd_merge ['order_frequency'] > 10), 'frequency_flag'] = 'regular customer'
ord_prd_merge.loc[ord_prd_merge['order_frequency'] <= 10, 'frequency_flag'] = 'frequent customer'

In [14]:
ord_prd_merge['frequency_flag'].value_counts(dropna = False)

frequent customer        21559853
regular customer          7208564
non-frequent customer     3636437
NaN                             5
Name: frequency_flag, dtype: int64

In [16]:
ord_prd_merge.to_pickle(os.path.join(path,'Prepared Data', 'exercise 4 8.pkl'))