In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os
path=r'C:\Users\t3mar\Career Foundry\Data Analytics\Project 4 Instacart\02 Data'

In [2]:
ords_prods_merge = pd.read_pickle(os.path.join(path, 'Prepared Data', 'OrdPrdMerge3.pkl'))

In [4]:
df = ords_prods_merged[:1000000]

In [5]:
df.shape

(1000000, 17)

In [6]:
df.columns

Index(['order_id', 'user_id', 'eval_set', 'order_number', 'order_dow',
       'order_hour_of_day', 'days_since_prior_order', 'product_id',
       'add_to_cart_order', 'reordered', 'Unnamed: 0', 'product_name',
       'aisle_id', 'department_id', 'prices', '_merge', 'busy_hours'],
      dtype='object')

In [7]:
df.groupby('product_name')

In [8]:
df.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
4                18.825780
7                17.472355
13               17.993423
14               19.246334
16               19.463012
17               11.294069
19               19.305237
20               17.599636

In [9]:
df.groupby('department_id').agg({'order_number': ['mean', 'min', 'max']})

              order_number
                      mean min max
department_id
4                18.825780   1  99
7                17.472355   1  99
13               17.993423   1  99
14               19.246334   1  99
16               19.463012   1  99
17               11.294069   1  98
19               19.305237   1  99
20               17.599636   1  99

In [10]:
ords_prods_merged['max_order'] = ords_prods_merged.groupby(['user_id'])['order_number'].transform(np.max)

In [11]:
ords_prods_merged.head()

,order_id,user_id,eval_set,order_number,order_dow,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,Unnamed: 0,product_name,aisle_id,department_id,prices,_merge,busy_hours,max_order
0,2539329,1,prior,1,2,8,NaN,196,1,0,195,Soda,77,7,9.0,both,Average orders,10
1,2398795,1,prior,2,3,7,15.0,196,1,1,195,Soda,77,7,9.0,both,Average orders,10
2,473747,1,prior,3,3,12,21.0,196,1,1,195,Soda,77,7,9.0,both,Most orders,10
3,2254736,1,prior,4,4,7,29.0,196,1,1,195,Soda,77,7,9.0,both,Average orders,10
4,431534,1,prior,5,4,15,28.0,196,1,1,195,Soda,77,7,9.0,both,Most orders,10

In [13]:
ords_prods_merged.loc[ords_prods_merged['max_order'] > 40, 'loyalty_flag'] = 'loyal customer'
ords_prods_merged.loc[(ords_prods_merged['max_order'] <= 40) & (ords_prods_merged ['max_order'] > 10), 'loyalty_flag'] = 'regular customer'
ords_prods_merged.loc[ords_prods_merged['max_order'] <= 10, 'loyalty_flag'] = 'new customer'

In [14]:
ords_prods_merged['loyalty_flag'].value_counts(dropna = False)

regular customer    463844
loyal customer      335086
new customer        201070
Name: loyalty_flag, dtype: int64